.email-folder-list {
	background-color: transparent;

	@media (max-width: 768px) {
		background: rgba(0, 0, 0, 0.4);
		grid-area: none;
		height: 100%;
		position: fixed;
		width: 100%;
		z-index: 5;
	}

	.email-folder-list__inner {
		align-content: flex-start;
		display: grid;
		grid-area: menu;
		grid-template-columns: 1fr;
		width: 240px;
		overflow-y: auto;

		@media (max-width: 768px) {
			background-color: var(--mister-email-background);
			height: 100%;
		}
	}

	.email-folder-list__folders {
		display: grid;
		grid-template-columns: 1fr;
		grid-auto-rows: 32px;
        height: calc(100vh - 80px - 64px - 16px);
		overflow-y: auto;
	}

	.email-folder-list__compose {
		display: flex;
		height: 56px;
		margin: 8px 0 16px 0;
		padding: 0 0 0 8px;

	}

	.email-folder-list__compose-inner {
		-webkit-font-smoothing: antialiased;
		align-items: center;
		background-color: #c2e7ff;
		border: none;
		border-radius: 16px;
		color: var(--mister-email-folders-text);
		cursor: pointer;
		display: inline-flex;
		font-weight: 500;
		font-size: 1rem;
		height: 56px;
		line-height: 32px;
		min-width: 96px;
		padding: 0 24px 0 0;
		transition: box-shadow .08s linear, min-width 0.15s cubic-bezier(0.4, 0, 0.2, 1);
		white-space: nowrap;


		&::before {
			background-image: url(../../images/icons/compose.png);
			background-position: center;
			background-repeat: no-repeat;
			background-size: 24px;
			content: "";
			height: 20px;
			min-width: 56px;
			width: 20px;
		}

		&:hover {
			box-shadow: 0 1px 3px 0 rgba(60, 64, 67, .3), 0 4px 8px 3px rgba(60, 64, 67, .15);
		}
	}

	.email-folder-list__item {
		align-items: center;
		display: grid;
		grid-template-columns: 32px 1fr;
		padding-inline-start: 26px;
		position: relative;
		transition: margin 0.15s cubic-bezier(0.4, 0, 0.2, 1), padding 0.15s cubic-bezier(0.4, 0, 0.2, 1);
	}

	.email-folder-list__item-icon {
		background-position: center;
		background-repeat: no-repeat;
		background-size: 20px;
		height: 20px;
		position: relative;
		width: 20px;
		z-index: 1;

		&.inbox {
			background-image: url(../../images/icons/inbox.png);
		}

		&.starred {
			background-image: url(../../images/icons/starred.png);
		}

		&.sent {
			background-image: url(../../images/icons/sent.png);
		}

		&.draft {
			background-image: url(../../images/icons/draft.png);
		}
	}

	.email-folder-list__item-text {
		height: 20px;
		line-height: 20px;
		overflow: hidden;
		position: relative;
		text-overflow: ellipsis;
		white-space: nowrap;
		z-index: 1;
	}

	.email-folder-list__item:hover::before {
		background-color: var(--mister-email-hover);
		border-radius: 0 16px 16px 0;
		box-shadow: inset 0 0 0 1px transparent;
		color: var(--mister-email-folders-text);
		content: "";
		font-weight: 700;
		height: 100%;
		position: absolute;
		transition: border-radius 0.15s cubic-bezier(0.4, 0, 0.2, 1), margin 0.15s cubic-bezier(0.4, 0, 0.2, 1), width 0.15s cubic-bezier(0.4, 0, 0.2, 1);
		width: 100%;
	}

	.email-folder-list__item.active::before {
		background-color: var(--mister-email-active);
		border-radius: 0 16px 16px 0;
		box-shadow: inset 0 0 0 1px transparent;
		color: var(--mister-email-folders-text);
		content: "";
		font-weight: 700;
		height: 100%;
		position: absolute;
		transition: border-radius 0.15s cubic-bezier(0.4, 0, 0.2, 1), margin 0.15s cubic-bezier(0.4, 0, 0.2, 1), width 0.15s cubic-bezier(0.4, 0, 0.2, 1);
		width: 100%;
	}

	.email-folder-list__item.active .email-folder-list__item-icon {
		&.inbox {
			background-image: url(../../images/icons/inbox-selected.png);
		}

		&.starred {
			background-image: url(../../images/icons/starred-selected.png);
		}

		&.sent {
			background-image: url(../../images/icons/sent-selected.png);
		}

		&.draft {
			background-image: url(../../images/icons/draft-selected.png);
		}
	}
}

.email-index.menu-collapsed {

	/* Desktop behaviour */
	&:not(.folders-hovered) {
		@media (min-width: 769px) {
			.email-folder-list__item-text {
				display: none;
			}

			.email-folder-list__item:hover::before {
				border-radius: 16px;
				height: 32px;
				margin-inline-start: 20px;
				position: absolute;
				width: 32px;
			}

			.email-folder-list__item.active::before {
				border-radius: 16px;
				height: 32px;
				margin-inline-start: 20px;
				position: absolute;
				width: 32px;
			}

			.email-folder-list__compose-inner {
				min-width: 56px;
				width: 56px;
			}
		}
	}

	/* Mobile behaviour */
	.email-folder-list {
		@media (max-width: 768px) {
			display: none;
			grid-area: none;
		}
	}
}