.email-preview {
	background-color: transparent;
	border-bottom: 1px solid rgba(128, 128, 128, 0.2);
	line-height: 20px;
	position: relative;

	button {
		background-color: transparent;
		border: none;
		cursor: pointer;
	}

	&:hover {
		.email-preview__checkbox {
			opacity: 1;
		}

		.email-preview__star {
			opacity: 1;
		}
	}

	&.selected {
		background-color: #c2dbff;

		.email-preview__checkbox {
			background-image: url(../../images/icons/checkbox-selected.png);
			opacity: 1;
		}

		.email-preview__star {
			opacity: 1;
		}
	}

	&.hovered {
		.email-preview__actions {
			display: flex;
		}

		.email-preview__link {
			@media (max-width: 840px) {
				grid-template-areas:
					"checkbox from . actions actions"
					". text text . star";
				grid-template-columns: 30px 1fr 1fr 136px 30px;
			}
		}

		.email-preview__date {
			@media (max-width: 840px) {
				display: none;
			}
		}
	}
	
	&.read {
		background-color: #f2f6fc;

		.email-preview__subject {
			font-weight: normal;
		}

		.email-preview__from {
			font-weight: normal;
		}

		.email-preview__date {
			font-weight: normal;
		}
	}
}

.email-preview__link {
	display: grid;
	gap: 10px;
	grid-template-areas: "checkbox star from text date actions";
	grid-template-columns: 20px 20px 200px 1fr 72px;
	padding: 10px 0 10px 20px;
	position: relative;

	&:hover {
		box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgba(60, 64, 67, .3), 0 1px 3px 1px rgba(60, 64, 67, .15);
		z-index: 2;
	}

	@media (max-width: 840px) {
		gap: 0;
		grid-template-areas:
			"checkbox from date"
			". text star";
		grid-template-columns: 30px 1fr  72px;
	}
}

.email-preview__checkbox {
	background-image: url(../../images/icons/checkbox.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 20px;
	border-width: 0;
	grid-area: checkbox;
	height: 20px;
	opacity: 0.32;
	position: relative;
	width: 20px;

	&:before {
		content: "";
		display: block;
		opacity: 0;
		position: absolute;
		transition-duration: 0.15s;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		background: none;
		border-radius: 50%;
		box-sizing: border-box;
		transform: scale(0);
		transition-property: transform, opacity;
		bottom: -10px;
		left: -10px;
		right: -10px;
		top: -10px;
	}

	&:hover::before {
		background-color: rgba(32, 33, 36, 0.059);
		border: none;
		box-shadow: none;
		opacity: 1;
		transform: scale(1);
	}
}

.email-preview__star {
	align-items: center;
	align-self: end;
	border: none;
	display: inline-flex;
	grid-area: star;
	justify-content: center;
	outline: none;
	position: relative;
	transition: opacity 0.15s cubic-bezier(0.4, 0, 0.2, 1);
	z-index: 0;
	height: 20px;
	margin: 0;
	opacity: 0.32;
	padding: 0 0 2px 0;
	top: 0;
	width: 20px;

	&:before {
		content: -webkit-image-set("" 1x, "" 2x);
		background-image: url(../../images/icons/star.png);
		background-position: center;
		background-repeat: no-repeat;
		background-size: 20px;
		display: block;
		height: 20px;
		width: 20px;
	}

	&:hover::before {
		opacity: 1;
	}

	&::after {
		content: "";
		display: block;
		opacity: 0;
		position: absolute;
		transition-duration: 0.15s;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		z-index: -1;
		background: none;
		border-radius: 50%;
		box-sizing: border-box;
		transform: scale(0);
		transition-property: transform, opacity;
		bottom: -10px;
		left: -10px;
		right: -10px;
		top: -10px;
		width: 40px;
		height: 40px;
	}

	&:hover::after {
		background-color: rgba(32, 33, 36, 0.059);
		border: none;
		box-shadow: none;
		opacity: 1;
		transform: scale(1);
	}

	&.starred::before {
		background-image: url(../../images/icons/star-starred.png);
	}

	@media (max-width: 840px) {
		justify-self: end;
		margin-right: 10px;
	}
}

.email-preview__from {
	font-weight: 700;
	grid-area: from;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.email-preview__text {
	grid-area: text;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;

	@media (max-width: 840px) {
		display: flex;
		flex-direction: column;
	}
}

.email-preview__dash {
	@media (max-width: 840px) {
		display: none;
	}
}

.email-preview__body {
	color: var(--mister-email-text-secondary);
	overflow: hidden;
	text-overflow: ellipsis;
}

.email-preview__subject {
	font-weight: 700;
	overflow: hidden;
	text-overflow: ellipsis;
}

.email-preview__date {
	font-weight: 700;
	color: var(--mister-email-text-secondary);
	justify-self: end;
	margin-right: 10px;
	white-space: nowrap;
}

.email-preview__actions {
	grid-area: actions;
	display: none;
	justify-self: end;
}

.email-preview__action {
	background-position: center;
	background-repeat: no-repeat;
	background-size: 20px;
	height: 20px;
	margin-inline: 10px;
	position: relative;
	width: 20px;

	&:hover::before {
		background-color: rgba(32, 33, 36, 0.059);
		border: none;
		box-shadow: none;
		opacity: 1;
		transform: scale(1);
	}

	&::before {
		content: "";
		display: block;
		opacity: 0;
		position: absolute;
		transition-duration: 0.15s;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		z-index: -1;
		background: none;
		border-radius: 50%;
		box-sizing: border-box;
		transform: scale(0);
		transition-property: transform, opacity;
		bottom: -10px;
		left: -10px;
		right: -10px;
		top: -10px;
	}

	&.archive {
		background-image: url(../../images/icons/archive.png);
	}

	&.delete {
		background-image: url(../../images/icons/delete.png);
	}

	&.unread {
		background-image: url(../../images/icons/unread.png);
	}

	&.snooze {
		background-image: url(../../images/icons/snooze.png);
	}
}